<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.airconditionsystem.mapper.AmonitorMapper">
    <resultMap id="BaseResultMap" type="com.example.airconditionsystem.bean.Amonitor">
        <id column="amonitorid" property="amonitorId"/>
        <result column="airid" property="airId"/>
        <result column="amtemperature" property="amTemperature"/>
        <result column="amwet" property="amWet"/>
        <result column="amrsi" property="amRsi"/>
        <result column="amtime" property="amTime"/>
    </resultMap>

    <select id="getAmonitorByAirId" resultMap="BaseResultMap">
        select * from amonitor where airid = #{airId};
    </select>

    <insert id="createAmonitor">
        insert into amonitor (airid, amtemperature, amwet, amrsi, amtime)
        values (#{airId}, #{amTemperature}, #{amWet}, #{amRsi}, #{amTime});
    </insert>

    <delete id="deleteAmonitor">
        delete from amonitor where airid = #{airId};
    </delete>

    <update id="updateAmonitor">
        update amonitor set amtemperature = #{amTemperature}, amwet = #{amWet}, amrsi = #{amRsi}, amtime = #{amTime}
        where airid = #{airId};
    </update>

</mapper>