<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.airconditionsystem.mapper.RoomMapper">
    <resultMap id="BaseResultMap" type="com.example.airconditionsystem.bean.Room">
        <id column="roomid" property="roomId"/>
        <result column="roomname" property="roomName"/>
        <result column="roomaddress" property="roomAddress"/>
        <result column="roomremarks" property="roomRemarks"/>
    </resultMap>

    <select id="getRoomByRoomId" resultMap="BaseResultMap">
        select * from room where roomid = #{roomId};
    </select>

    <insert id="createRoom">
        insert into room (roomid, roomname, roomaddress, roomremarks)
        values (#{roomId}, #{roomName}, #{roomAddress}, #{roomremarks});
    </insert>

    <delete id="deleteRoom">
        delete from room where roomid = #{roomId};
    </delete>

    <update id="updateRoom">
        update room set roomname = #{roomName}, roomaddress = #{roomAddress}, roomremarks = {roomRemarks}
        where roomid = #{roomId};
    </update>

</mapper>