<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.airconditionsystem.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.example.airconditionsystem.bean.User">
        <id column="userid" property="userId"/>
        <result column="userpassword" property="userPassword"/>
        <result column="username" property="userName"/>
        <result column="tel" property="tel"/>
        <result column="desc" property="desc"/>
    </resultMap>

    <select id="getUserByUserId" resultMap="BaseResultMap">
        select * from user where userid = #{userId}
    </select>

    <select id="getUserByUserName" resultMap="BaseResultMap">
        select * from user where username = #{userName}
    </select>

    <insert id="createUser">
        insert into user (userpassword, username, tel, "desc")
        values (#{userPassword}, #{userName}, #{tel}, #{desc});
    </insert>

    <delete id="deleteUser">
        delete from user where username = #{userName}
    </delete>

    <update id="updateUser">
        update user set userpassword = #{userPassword}, tel = #{tel}, "desc" = #{desc}
        where username = #{userName}
    </update>

</mapper>